<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="AdminEmail" value="Sakthivel.R@cloud-nexus.net" />
    <add key="CC_Email" value="Sakthivel.R@cloud-nexus.net" />
    <add key="Conf_Main_Bcc_List" value="Sakthivel.R@cloud-nexus.net" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="info@ddf.com" deliveryMethod="Network">
        <network host="mail.mlionline.biz" port="587" userName="info@mlionline.biz" password="CMx4uYbm" />
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
	  <!--<add name="DefaultDb" connectionString="data source=(local);Initial Catalog=DSMBF_DRMF_2020Live;Integrated Security=SSPI;connection Timeout=4000;" providerName="System.Data.SqlClient" />-->
	  <!--<add name="DefaultDb" connectionString="data source=CDNX-PRO-02\SQLEXPRESS;Initial Catalog=DRMF_DSMBF_2020;uid=sa;password=sql;connection Timeout=4000;" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultDb" connectionString="data source=161.117.89.227;Initial Catalog=DSMBF_DRMF;uid=DSMBF_DRMF_dbuser;password=**M!k0-T3sh-QL8p;connection Timeout=4000;" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultDb" connectionString="data source=202.157.162.182;Initial Catalog=DSMBF_DRMF_2020;uid=DSMBF_DRMF_2020_dbuser;password=feQI0e@65JA%o^6v;connection Timeout=4000;" providerName="System.Data.SqlClient" />-->
    <add name="DefaultDb" connectionString="data source=202.157.162.182;Initial Catalog=DSMBF_DRMF_2021;uid=DSMBF_DRMF_2021_dbuser;password=**M!k0-QcWx-Ht9b;connection Timeout=4000;" providerName="System.Data.SqlClient" />
    <!--<add name="DefaultDb" connectionString="data source=192.168.0.154;Initial Catalog=DRMF_DSMBF_2020;uid=DbUser;password=CN_DB_154;connection Timeout=4000;" providerName="System.Data.SqlClient" />-->
    <!--Staging-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <httpModules>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>

  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.1" newVersion="4.0.3.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
</configuration>
