@model UserAccount
@{

    string appPath = Convert.ToString(ApplicationInstance.Application["ApplicationPath"]);
}
@if (Model != null)
{
    <html>
    <head>
        <meta charset="utf-8">
        <title>DDF</title>
    </head>
    <body>

        <h2>
            User Account Password Changed
        </h2>
        <br />
        <br />
        Hi @Model.FirstName @Model.LastName,
        <br />
        Your Password has been changed
        <br />
        <a href="@appPath/Login">Click here</a>to go to login.
    </body>
</html>
}