
@{
    ViewBag.Title = "Index";
    // ViewBag.pagename = "log";
    ViewBag.divclassname = "upload";
    string appPath = Convert.ToString(ApplicationInstance.Application["ApplicationPath"]);
}


    <div class="rightcontent">
        <div class="pgheader"><img src="@appPath/Content/images/redarrow.png">Upload File</div>
        <div class="col1">
            <table class="tblbudget" cellpadding="0" cellspacing="0" border="0">
              
                <tr>
                    <td><strong>File Name</strong></td>
                    <td><input type="file"></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><div class="padding10"></div><a href="javascript:void(0);" class="commonBtn">Upload File</a></td>
                </tr>

            </table>

        </div>
        <div class="padding15"></div>


        <div class="clear"></div>
    </div>
    <div class="clear"></div>


